<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>빡공팟 웹 만들기</title>
    <style>
      form {
          display: inline-block;
          margin-right: 10px;
      }
    </style>
  </head>
    <body>
      <form action = "/search">
        <input type = "text" name = "search" value placeholder = "검색">
        <select name="mod">
          <option value="all">전체검색</option>
          <option value="title">제목검색</option>
          <option value="content">내용검색</option>
        </select>
        <button>검색</button>
      </form><br>
      {{login | safe}}
      <table>
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
          <tr>
              <td>{{result['id'] }}</td>
              <td><a href = "/view?id={{result['id']}}">{{result['title'] }}</td>
              <td><a href = "/profile?user={{result['user']}}">{{result['user'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
</html>