<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>글쓰기</title>
  </head>
    <body>
      <form action = "/write", method = "post" enctype="multipart/form-data">
        <b>작성자 : {{user}}</b><br>
        <input type="text" name="title" required placeholder="제목"><br>
        <textarea id="content" name="content" rows="8" required placeholder="내용"></textarea><br>
        <input type="checkbox" id="secret" name="secret" value="y">
        <label for="secret">비밀글</label><br>
        <label for="file">파일:</label>
        <input type="file" id="file" name="file"><br>
        <button>제출</button>
      </form>
    </body>
</html>